/*
.code-block {
    margin: 20px auto; 
    padding: 20px;
    background-color: #2e3440;
    color: #d8dee9;
    border-radius: 5px;
    max-width: 700px; 
    text-align: left; 
    position: relative;
    white-space: pre-wrap; 
    overflow-x: auto; 
    display: flex;
    justify-content: center; 
  }
  
  pre {
    margin: 0;
    width: 100%; 
  }
  
  .copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .copy-button img {
    width: 20px;
    height: 20px;
  }
  
  .copy-button:hover {
    background-color: #e0e0e0;
  }
  
  .dark-mode .copy-button {
    background-color: #333;
  }
  
  .dark-mode .copy-button:hover {
    background-color: #444;
  }
  */
  