.search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 50px;
  padding: 5px 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  max-width: 400px;
}

.search-bar input {
  flex-grow: 1; 
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  outline: none;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  box-shadow: none; 
}

.search-bar input::placeholder {
  color: #aaa; 
}

.search-button {
  background-color: #4caf50;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px; /* Keep the button small */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 40px;
  height: 40px;
}

.search-button img {
  width: 35px; 
  height: 35px;
}

.search-button:hover {
  background-color: #45a049; 
  transform: scale(1.1); 
}

/* Dark mode styles */
.dark-mode .search-bar {
  background-color: #333333; 
  color: #ffffff; 
}

.dark-mode .search-button {
  background-color: #5cdb5c; 
}

.dark-mode .search-button:hover {
  background-color: #4caf50; 
}

.dark-mode .search-bar input {
  background-color: #222222; 
  color: #ddd; 
  border: 1px solid #444444; 
}

.dark-mode .search-bar input::placeholder {
  color: #888888; 
}
